@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('Barbeiro\ em\ ação\ com\ lâmina\ rente.png') no-repeat center center fixed;
  background-size: cover; /* Mantém a proporção e cobre toda a tela */
  background-attachment: fixed; /* Mantém a imagem fixa ao rolar */
  background-position: center;
  font-family: Arial, sans-serif;
}

